.arrival-table {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  background: var(--black);
  color: var(--red);
}

.arrival-table__header {
  width: 100%;
  font-size: var(--l);
  height: 200px;
}
.arrival-table-name {
  text-align: center;
  width: 100%;
}

.arrival-table__header--row {
  width: 100%;
}

.arrival-table__header--row th {
  width: 15%;
}

.arrival-table__body > tr {
  text-align: center;
  font-weight: bold;
  color: var(--white);
  height: 40px;
}

.arrival-table__body--bus-number {
  font-size: var(--l);
}


.header {
  font-weight: bold;
  text-align: center;
  color: ghostwhite;
}
